@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype'),
        url('../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype'),
        url('../fonts/Inter-Bold-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1199px) {
    .login-container {
        justify-content: center !important;
    }

    .register-container {
        justify-content: center !important;
    }
}

@media (max-width: 500px) {
    .register-form {
        padding: 10px !important;
    }

    .register-form.card {
        height: 90vh !important;
        width: 90% !important;
    }

    .register-form h4 {
        font-size: 24px !important;
    }

    .register-form input,
    .register-form button {
        font-size: 16px !important;
    }

    .form-check-label {
        font-size: 14px !important;
    }

    .form-check {
        margin-top: -10px !important;
        margin-bottom: -25px !important;
    }

    .end-label {
        font-size: 14px !important;
        margin-top: -25px !important;
    }

    .register-form .custom-btn {
        font-size: 16px !important;
        width: 50% !important;
        height: 100% !important;
    }
}

@media (max-width: 750px) {
    #birthday-input {
        width: 100% !important;
    }
}

@media(max-height: 450px) {
    .login-container {
        justify-content: center !important;
        min-height: 100vh !important;
        padding: 2vh !important;
    }

    .login-form {
        padding: 2vh !important;
        height: 100vh !important;
    }

    .card-title {
        font-size: 25px !important;
    }

    .form-control {
        font-size: 16px !important;
        margin-bottom: 5px !important;
        width: 100% !important;
        height: 50px !important;
        margin-top: -10px !important;
    }

    .custom-btn {
        font-size: 14px !important;
        width: 50% !important;
        height: 100% !important;
    }

    .form-check-label {
        font-size: 14px !important;
    }

    .form-check {
        margin-top: -10px !important;
        margin-bottom: -25px !important;
    }

    .end-label {
        font-size: 14px !important;
        margin-top: -25px !important;
    }

    #register-ask-link {
        font-size: 14px !important;
    }

    #forgot-password-link {
        font-size: 14px !important;
    }

    #login-with {
        margin-top: -25px !important;
        margin-bottom: -5px !important;
    }

    #google-login,
    #facebook-login {
        width: 20% !important;
        height: 70% !important;
    }

    .login-form.card {
        height: 90vh !important;
    }

    .register-container {
        justify-content: center !important;
        min-height: 200vh !important;
        padding: 2vh !important;
    }

    .register-form.card {
        height: 175vh !important;
        width: 90% !important;
    }

    #birthday-label {
        font-size: 16px !important;
        margin-top: -10px !important;
    }

    .navbar {
        height: 50px !important;
    }

    .nav-img {
        width: 40px !important;
        height: 40px !important;
    }

    .footer1 * {
        display: none !important;
    }
}

.navbar {
    background-color: rgb(25, 32, 38);
    margin-top: -8px;
    padding: 1px;
}

.nav-img {
    height: 100px;
    margin-left: 20px;
}

.blink-hover:hover {
    animation: blink 0.5s infinite;
}

.change-color:hover {
    background-color: rgb(55, 70, 83) !important;
    color: white !important;
    transition: 0.2s;
}

body {
    background-color: rgb(232, 233, 235);
}

.login-img img {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.login-form {
    background-color: rgb(80, 101, 119);
    border-radius: 5px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);
    padding: 5vh;
}

footer {
    background-color: rgb(25, 32, 38);
    color: white;
    padding: 1vh;
    bottom: 0;
}

.custom-btn {
    background-color: rgb(55, 70, 83);
    color: white;
    border-radius: 5px;
    transition: 0.2s;
}

.custom-btn:hover {
    background-color: rgb(40, 50, 59);
    color: rgb(174, 230, 243);
}

#logo-img {
    padding: 0px;
}

#login-form-card {
    padding: 0px;
}

.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-img,
.login-form {
    width: 90%;
    max-width: 600px;
    background: rgb(245, 245, 245);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 100%;
}

.register-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#google-login,
#facebook-login {
    border-radius: 15px;
    transition: 0.2s;
    width: 30%;
    height: 80%;
    margin: 3px;
}

#facebook-login {
    background-color: #3b5998;
    align-items: center;
    display: flex;
    justify-content: center;
}

#facebook-login img {
    width: 50px;
}

#google-login {
    background-color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
}

#google-login img {
    width: 100px;
}

#google-login:hover {
    background-color: #d66464;
}

#facebook-login:hover {
    background-color: #7c9bdd;
}

.register-form {
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);
    padding: 5vh;
}

.register-form.card {
    height: 90vh;
    width: 65%;
}

#forgot-password-card {
    background-color: rgb(245, 245, 245);
}